[Unit]
Description=Gunicorn instance to serve core service
After=network.target

[Service]
Type=simple
Restart=always
User=pumpk
Group=www-data
WorkingDirectory=/home/pumpk/face-service
Environment="PATH=/home/pumpk/env/bin"
ExecStart=/home/pumpk/env/bin/gunicorn --workers 3 --bind 0.0.0.0:5001 wsgi:app

[Install]
WantedBy=multi-user.target