[Unit]
Description=Embedding service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/<username>/face-service
Environment="PATH=/home/<username>/env/bin"
ExecStart=/usr/bin/python3 sv_embed.py

[Install]
WantedBy=multi-user.target